body {
    background-color: rgb(32, 32, 36);
}

.center-table {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(48, 48, 54);
    border: 1px solid rgb(70, 70, 78);
    border-radius: 20px;
    padding: 0;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

input.buttom {
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.buttoms-elem {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input {
    height: 25px;
    background-color: rgb(95, 95, 104);
    border-radius: 5px;
    font-size: 20px;
    color:rgb(239, 239, 247);
}

td {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia;
    width: 200px;
    color:rgb(227, 227, 238);
}

.image {
    display: flex;
    margin: 0 auto;
    max-height: 720px;
    max-width: 720px;
    margin-top: 70px;
    margin-bottom: 70px;
}